.back {
    position: absolute;
    top: 90px;
    left: 45px;
}

.back-icon {
    font-size: 30px;
    color: rgba(255, 217, 0, 0.555);
}

.container-moviesdetails {
    position: absolute; 
    top: 90px;
    display: flex;
    padding: 35px 190px;
    gap: 50px;
    color: rgb(221, 220, 220); 
    
}

.img-moviesdetails {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px 10px rgba(196, 19, 19, 0.3);
}


.container-descriptions h1 {
    margin: 0px 0px 12px;
    color: rgb(128, 128, 128);
    color: gold;
    
}

.title-movies {
    font-size: 38px; 
   
}

.container-genres {
   display: flex;
   gap: 25px;

}

.styles-genres {
    margin: 0px;
    padding: 1px 5px;
    font-size: 17px;
    background-color: rgba(255, 0, 0, 0.384);
    border-radius: 5px;
    display: inline;
    
}
.text-overview {
    padding-right: 140px;
    font-size: 17px;
    line-height: 25px;
}

.text {
    word-spacing: 5px;
    font-size: 18px;
}

span {
    font-weight: 800;
    color: rgba(255, 217, 0, 0.555);
}

.icon-likes {
    text-align: center;
}

.icon-details {
    position: absolute;
    top: 40px;
    right: 880px;
}

.movie-link {
    cursor: pointer;
    z-index: 99999;
   
}

